/* ========================================================================
 * Maricopa Association of Governments
 * CSS document
 * @project     MAG Schools Data Visualization Project
 * @summary     CSS document guiding layout for the project
 * @file        main.css
 * ======================================================================== */

/*
 * Colors for Project
 * Series A = #007bc3
 * Series B = #76b800
 * Series C = #ffae00
 * Series D = #ef4c00
 * Series E = #a419b7
 * Series F = #430b62
 *
 * Main Color = #2b8abe
 */

body {
    padding-top: 150px;
}
html, body {
    height: 100%;
}
.fill {
    padding-bottom: 30px;
}
.mv {
    padding: 0;
}
/*******************
Header Section
********************/
.navbar {
    /*     background-color: #b6bdca; */
    background-color: #ececec;
    border-bottom: 1px solid #e5e5e5;
}

.mainHead,
.subHead,
.metric,
.subHead,
.stat dd {
    font-family: 'Open Sans Condensed', Verdana, sans-serif;
}

.mainHead,
.sectionTitle {
    color: #2b8abe;
    font-family: 'Open Sans Condensed', Verdana, sans-serif;
    text-transform: uppercase;
}

.mainHead {
    color: #2b8abe;
    font-size: 48px;
    font-weight: 300;
}

.mainHead span,
.first dd {
    font-weight: 700;
}

.subHead {
    font-size: 18px;
    font-weight: bold;
    color: #708090;
}

.sectionTitle {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}

.mainHead,
.subHead {
    display: inline-block;
    margin: 0;
}

.filtering-tabs {
    border: 0;
    background: #E4E4E4;
}

.k-panelbar li.k-state-default .k-link,
.k-tabstrip-items .k-state-default .k-link {
    color: #727f8e;
}

.k-tabstrip-items .k-item.k-state-hover {
    background: #727f83;
    background-color: #727f8e;
    color: #E4E4E4;
}

.k-tabstrip-items .k-state-hover .k-link {
    color: #E4E4E4;
}

.filtering-tabs .k-tabstrip-items {
    padding: 0;
}

.filtering-tabs .k-item {
    width: 19.8%;
    border: 0;
    margin: 0 .2% 0 0;
    padding: 0 0 4px;
    text-align: center;
    cursor: pointer;
    background: none;
    border-bottom: 4px solid #b3bbc5;
    font: 16px/2em Arial, sans-serif;
    color: #727f8e;
}

.filtering-tabs .k-state-hover {
    color: #2e2e2e;
    background: none;
}

.filtering-tabs .k-state-active {
    padding: 0;
    color: #2b8abe;
    border-bottom: 8px solid #2b8abe;
}

.filtering-tabs .k-link {
    padding: 0;
}

.k-tabstrip-items .k-item.k-state-active {
    background: none;
}

.k-tabstrip-top .k-tabstrip-items .k-state-active {
    border-bottom-width: 8px;
    border-bottom-color: #2b8abe;
}

.navbar-fixed-top {
    padding-top: 5px;
}

#infoBtn {
    padding-bottom: 5px;
    float: right;
}

.pickSchools {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cBox {
    padding: 0 2px 0 2px;
}
.selectInput {
    padding-top: 20px;
    padding-bottom: 10px;
}

/*******************
 Footer
********************/
.container-fluid.footer {
    padding-right: 0;
    padding-left: 0;
}

.blog-footer {
    padding: 35px 0 10px 0;
    color: #999;
    background-color: #ececec;
    border-top: 1px solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.info-items {
    text-align: center;
}

.info-logo {
    padding-top: 15px;
}

.copyrightTerms {
    padding: 30px 0 0 0;
    text-align: center;
}

.tagline {
    font-size: 12px;
}

.icon-up {
    font-size: 24px;
}

.footer-links ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 15px 0 0 0;
}

.footer-links ul li {
    display: inline;
    margin: 0 15px;
}

.footer-links a {
    font-weight: 400;
    /* color: #fff; */
}

.magLogo {
    width: 180px;
    padding: 0 5px 0 5px;
}

.readonLogo {
    width: 110px;
    padding: 0 5px 0 5px;
}

.adeLogo {
    width: 80px;
    padding: 0 5px 0 5px;
}

/*******************
 Social Media
********************/
.social-media a {
    display: inline-flex;
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
    text-align: center;
    color: #333;
    margin-right: 10px;
    transition: all 0.2s;
}

.social-media a:hover {
    text-decoration: none;
}

.facebook:hover {
    background: #3B5998;
    color: white;
}

.twitter:hover {
    background: #1DA1F2;
    color: white;
}

.youtube:hover {
    background: #bb0000;
    color: white;
}

.social-media em {
    margin: auto;
    font-size: 17px;
}

/*******************
 School Titles
********************/
.schoolTitle,
.sID,
.dTitle,
.dID {
    display: inline-block;
    font-weight: bold;
    font-family: 'Open Sans Condensed', Verdana, sans-serif;
    margin-bottom: 0;
}

.districtTitle {
    font-family: 'Open Sans Condensed', Verdana, sans-serif;
    text-transform: uppercase;
    color: #727f8e;
    margin-top: 0;
}

.info {
    font-size: 18px;
    color: #708090;
}

/*******************
 School Drop Down
********************/
#schools {}

.tDrop {
    font-weight: bold;
    font-family: 'Open Sans Condensed', Verdana, sans-serif;
    text-transform: uppercase;
    margin-bottom: 2px;
    margin-top: 5px;
}

/*******************
 State Panels
********************/
.stateInfo {
    box-shadow: 6px 6px 5px #ccc;
    width: 225px;
    height: 155px;
    cursor: default;
}

.panel {
    margin-bottom: 17px;
    background-color: white;
    border: 2px solid;
    border-radius: 4px;
    text-align: center;
}

.panel-body {
    padding: 10px;
}

.school-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    content: url(../images/school.png);
    width: 35%;
}

.district-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    content: url(../images/district.png);
    width: 35%;
}

/*******************
 District Section
********************/
.k-grid-content {
    max-height: 500px;
}

#distName,
#distName1 {
    display: inline-block;
    font-family: 'Open Sans Condensed', Verdana, sans-serif;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: large;
    font-weight: bold;
}

#distNum,
#distNum1 {
    display: inline-block;
    font-family: 'Open Sans Condensed', Verdana, sans-serif;
}

.k-grid-header th.k-header {
    font-weight: bold;
    white-space: normal;
    text-align: center;
}

.grid-header-style {}

.kendoGridCenter {
    text-align: center;
}

#grid tbody {
    font-size: 12px;
}

.link {
    /* color: #00ccff; */
    color: #2b8abe;
    cursor: pointer;
    text-decoration: none;
}

.k-state-selected td a.link {
    color: #fff;
}


/*******************
 Section
********************/
#grid {
    box-shadow: 6px 6px 5px #ccc;
}

.mainPassing {
    text-align: center;
}

.infoHeader {
    font-size: 11px;
    color: #35373d;
    text-transform: uppercase;
    text-align: center;
}

#info {
    display: inline-block;
    margin-left: 40px;
}

.box1 {
    display: inline-flex;
    text-align: center;
}

.box2 {
    position: relative;
}

.stat {
    font-family: 'Open Sans Condensed', Verdana, sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -2px;
    text-indent: -8px;
    color: #454447;
    float: right;
}

.change {
    font-family: 'Open Sans Condensed', Verdana, sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -2px;
    color: #454447;
    z-index: 1;
}

.arrow {
    width: 65px;
    z-index: 2;
}

.no-arrow {
    font-size: 60px;
    line-height: .75;
    color: #f9e154;
}

.separator {
    height: 1.5px;
    background: #b3bbc5;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chartGone {
    font-family: 'Open Sans Condensed', Verdana, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -2px;
    color: #454447;

    margin-bottom: 0;
}

.chartGoneNA {
    font-family: 'Open Sans Condensed', Verdana, sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -2px;
    color: #454447;
    text-align: center;
    padding-top: 50px;
}

.pCG {
    margin-top: 0;
}

.k-widget.k-dropdown.k-header {
    width: 485px !important;
}

.btn-group-justified {
    width: 195px;
}

.note,
.note p {
    font-size: 12px;
    margin-bottom: 0;
}

#footNote0 {
    margin: 45px 0 0 15px;
}

.sTotal {
    color: #2b8abe;
    font-size: 16px;
    font-weight: bold;
}

.sTotal-Text {
    color: #727f8e;
    font-size: 14px;
    font-weight: 400;
}

/*******************
 Miscellaneous
********************/
.bar {
    color: #cc0000;
    font-size: 250%;
    vertical-align: sub;
}

.legd {
    margin: 0 0 0 35px;
}

.replaceDiv {
    text-align: center;
}

.replace {
    font-weight: bold;
    font-size: 32px;
    margin: 0;
    color: red;
}

.tbold {
    font-weight: bold;
}

.btn-primary {
    color: #fff;
    background-color: #2b8abe;
    border-color: #226e98;
}

/*******************
 Modal Drop-down
********************/
.modal-header {
    background-color: #ececec;
}

.modal-title {
    font-weight: 600;
    color: #2b8abe;
}

.demo-section {
    padding: 20px 25px;
    margin: 0 auto;
}

.metric {
    display: block;
    text-transform: none;
    font-weight: 300;
    font-size: 12px;
    color: #727f8e;
    margin: 0;
}

#chart-type-chooser {
    float: right;
    margin-right: .2%;
    width: 170px;
    text-align: right;
    line-height: 32px;
    margin-top: -30px;
}

.level {
    margin-bottom: 8px;
}

/*******************
 Map
********************/
#mapDiv1 {
    padding: 0;
    margin: 0;
    height: 500px;
    width: 100%;
    border-style: solid;
    border-width: thin;
}
#mapDiv2 {
    padding: 0;
    margin: 0;
    height: 390px;
    width: 100%;
    border-style: solid;
    border-width: thin;
}
#legend {
    display: none;
    background-color: white;
    padding: 10px;
    font-size: 12px;
}
.legendItem {
    padding-bottom: 2px;
}
.legendItem img {
    height: 18px;
}
.legendDiv {
    display: flex;
    align-items: center;
}
.legendDiv span {
    margin-right: 5px;
}

/*******************
 Popup
********************/
.esriPopup .titleButton.maximize {
    display: none;
}

/*******************
 Checkbox
********************/
/*http://bootsnipp.com/snippets/a65Wy*/
@import('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css') .funkyradio div {
    clear: both;
    /*margin: 0 50px;*/
    overflow: hidden;
}

.funkyradio label {
    /*min-width: 400px;*/
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
    font-size: 12px;
    width: 200px;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
    display: none;
}

.funkyradio input[type="radio"]:empty~label,
.funkyradio input[type="checkbox"]:empty~label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    /*margin-top: 2em;*/
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funkyradio input[type="radio"]:empty~label:before,
.funkyradio input[type="checkbox"]:empty~label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked)~label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked)~label:before {
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

.funkyradio input[type="radio"]:hover:not(:checked)~label,
.funkyradio input[type="checkbox"]:hover:not(:checked)~label {
    color: #888;
}

.funkyradio input[type="radio"]:checked~label:before,
.funkyradio input[type="checkbox"]:checked~label:before {
    content: '\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.funkyradio input[type="radio"]:checked~label,
.funkyradio input[type="checkbox"]:checked~label {
    /*color: #777;*/
    font-weight: bold;
    background-color: #E8E8E8;
}

.funkyradio input[type="radio"]:focus~label:before,
.funkyradio input[type="checkbox"]:focus~label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked~label:before,
.funkyradio-default input[type="checkbox"]:checked~label:before {
    color: #333;
    background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked~label:before,
.funkyradio-primary input[type="checkbox"]:checked~label:before {
    color: #fff;
    background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked~label:before,
.funkyradio-success input[type="checkbox"]:checked~label:before {
    color: #fff;
    background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked~label:before,
.funkyradio-danger input[type="checkbox"]:checked~label:before {
    color: #fff;
    background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked~label:before,
.funkyradio-warning input[type="checkbox"]:checked~label:before {
    color: #fff;
    background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked~label:before,
.funkyradio-info input[type="checkbox"]:checked~label:before {
    color: #fff;
    background-color: #5bc0de;
}

/*******************
 Info Badges
********************/
#infoBadge {
    margin-top: 50px;
    padding-left: 15px;
}

.badges {
    width: 80px;
    height: 100px;
    padding: 10px 0 10px 0;
    margin: 5px 5px 0 0;
    border: 1px solid #333333;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    color: #333333;
    font-weight: bold;
    line-height: 1;
    vertical-align: middle;
}

.titleI {
    background-color: #cc66ff;
}

.freeRed {
    background-color: #2e8b57;
}

.chronic {
    background-color: #E67E22;
}

.attend {
    background-color: #005b96;
}

.score {
    font-size: 20px;
    font-weight: bold;
    margin: 8px 0 0 0;
    padding: 0;
    color: #ffffff;
}

.score2 {
    font-size: 20px;
    font-weight: bold;
    margin: 8px 0 0 0;
    padding: 0;
    color: #a0a0a0;
}

.grade {
    font-size: 26px;
    font-weight: bold;
    margin: 8px 0 0 0;
    padding: 0;
    color: #ffffff;
}

.grade2 {
    font-size: 26px;
    font-weight: bold;
    margin: 8px 0 0 0;
    padding: 0;
    color: #a0a0a0;
}

.gradeA {
    background-color: #4ce600;
}

.gradeB {
    background-color: #70a800;
}

.gradeC {
    background-color: #ffffbf;
}

.gradeD {
    background-color: #fdae61;
}

.gradeF {
    background-color: #d7191c;
}

.gradeNA {
    background-color: #787878;
}

.r1,
.c1 {
    margin: 0 0 0 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
}

.t1,
.r2,
.c2 {
    margin: 8px 0 0 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
}

.popover-title {
    background-color: #ececec;
    font-family: 'Open Sans Condensed', Verdana, sans-serif;
    font-weight: bold;
    color: #2b8abe;
}

.popover {
    font-size: 13px;
    font-family: 'Open Sans Condensed', Verdana, sans-serif;
    color: #333;
}

.popover ul {
    list-style-type: none;
    -webkit-padding-start: 15px;
}

/****************************
 District & State Pie Charts
*****************************/
.groupPie {
    /* display: inline-block; */
    text-align: center;
    margin: auto;
    width: 85%;
    /* padding: 5px; */

}

#distELAChart,
#stateELAChart {
    float: left;
    padding-right: 5px;
}

#distMATHChart,
#stateMATHChart {
    float: right;
    padding-left: 5px;
}

.breakCharts {
    padding-top: 2px;
    padding-bottom: 2px;
}

.stats-row {
    text-align: center;
}

.stat-con {
    display: inline-block;
    margin: 0 10px 0 10px;
}

.subTitle {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', Verdana, sans-serif;
}

.mScore {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    font-family: 'Open Sans Condensed', Verdana, sans-serif;
}

.mean,
.range,
.maxs {
    color: #639514;
}

.median,
.mins {
    color: #cd151e;
}

.mode,
.total {
    color: #4da3d5;
}

.sScore {
    color: #ef4c00;
}

.scrollTop {
    /* background: rgba(77,163,213,0.7); */
    background: rgba(236, 236, 236, 0.7);
    /* padding: 10px; */
    height: 50px;
    width: 60px;
    font-size: 20px;
    color: #4da3d5;
    border: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: fixed;
    outline: none;
    bottom: 0px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.35s;
}
/****************************
 School Card
*****************************/
#cardContainer {
    overflow: auto;
    max-height: 500px;
}
.schoolCard {
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    margin: 10px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}
.schoolCard:hover {
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.75);
}
