<!-- School Details -->
<div class="row">
    <div class="col-md-12">
        <h3 class="sectionTitle">School Details</h3>
        <span class="metric">For <span class="selected-year"></span></span>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4 id="" class="schoolName schoolTitle"></h4>
        <h6 id="" class="schoolID sID"></h6>
        <h5 id="" class="districtName districtTitle"></h5>
        <br>
        <div id="info1" class="info"></div>
        <div id="info2" class="info"></div>
        <div>
            <div id="infoBadge" class=""></div>
            <div id="footNote0" class="note">
                <p><strong>School Letter Grades</strong>
                    <br> A-F = School has received a preliminary letter grade based on initial calculation and methodologies
                    <br> UR = Under Review: school has a non-typical school configuration or has filed an appeal
                    <br> NR = Not rated: school is not rated due to insufficient data</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="mapDiv2"></div>
    </div>
</div>
<div class="separator"></div>
