<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div id="linksModal" class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Helpful Links</h3>
        </div>
        <div class="modal-body">
            <p>This links are resources and references for more information on Arizona schools and testing.</p>
            <ul>
                <li><a href="http://www.azed.gov/">Arizona Department of Education</a></li>
                <li><a href="http://www.azed.gov/standards-practices/">Arizona Academic Standards</a></li>
                <li><a href="https://www.azreportcards.org/">Arizona Report Cards</a></li>
                <li><a href="http://www.azed.gov/research-evaluation/data/">ADE Research & Evaluation</a></li>
                <li><a href="http://readonarizona.org/">Read On Arizona</a></li>
                <li><a href="https://education.azgovernor.gov/">Governor’s Office of Education</a></li>
                <li><a href="https://pipertrust.org/">Virginia G. Piper Charitable Trust</a></li>
            </ul>
        </div>
        <div class="modal-footer">
            <p class="button-group"><a class="btn btn-default" data-dismiss="modal">Close</a></p>
        </div>
    </div>
</div>
