<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div id="aboutModal" class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">About</h3>
        </div>
        <div class="modal-body">
            <p>This site provides important information to parents, the public, educators, community members, researchers, and others about schools in our state.</p>
            <p>Explore the site to find details about school performance, district/charter holder performance, demographics, and more.</p>
        </div>
        <div class="modal-footer">
            <p class="button-group"><a class="btn btn-default" data-dismiss="modal">Close</a></p>
        </div>
    </div>
</div>
