<div class="modal-dialog" role="document">
    <div id="infoModal" class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="modalInfo">Information</h2>
        </div>
        <div class="modal-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#about" aria-controls="about" role="tab" data-toggle="tab">About</a></li>
                <li role="presentation"><a href="#datainfo1" aria-controls="datainfo1" role="tab" data-toggle="tab">AzMERIT</a></li>
                <li role="presentation"><a href="#datainfo2" aria-controls="datainfo2" role="tab" data-toggle="tab">AIMS</a></li>
                <li role="presentation"><a href="#datainfo3" aria-controls="datainfo3" role="tab" data-toggle="tab">Title I</a></li>
                <li role="presentation"><a href="#datainfo4" aria-controls="datainfo4" role="tab" data-toggle="tab">Chronic Absence</a></li>
                <li role="presentation"><a href="#datainfo5" aria-controls="datainfo5" role="tab" data-toggle="tab">Acronyms</a></li>
                <li role="presentation"><a href="#links" aria-controls="links" role="tab" data-toggle="tab">Links</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="about">
                    <h3>About</h3>
                    <p>This site provides important information to parents, the public, educators, community members, researchers, and others about schools in our state.</p>
                    <p>Explore the site to find details about school performance, district/charter holder performance, demographics, and more.</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="datainfo1">
                    <h3>AzMERIT</h3>
                    <p><strong>AzMERIT</strong> - Arizona's Measurement of Educational Readiness to Inform Teaching</p>
                    <p>AzMERIT is Arizona's new Statewide Achievement Assessment for English Language Arts and Mathematics. In 2010, the Arizona State Board of Education adopted new standards in English language arts and mathematics for all students in Arizona. These academic standards outline what students should know and be able to do at each grade level. With the adoption and implementation of new standards, a new test was necessary.</p>
                    <p>In November 2014, the Arizona State Board of Education adopted a new statewide achievement test, AzMERIT, for Arizona students. AzMERIT, based on the new standards, will tell teachers, students, and parents if students are on track to be college and career ready upon graduation from high school.</p>
                    <p>Arizona public school students in Grades 3 through high school will take AzMERIT. Students in Grades 3 through 8 will take an assessment in English language arts and mathematics at their grade level. Students taking high school level English and mathematics will take End-of-Course assessments that will test their proficiency in these subjects. Students will take AzMERIT in the spring of 2015.</p>
                    <p><strong>ELA</strong> – Arizona administers statewide achievement tests in the content area of English language arts (ELA) to measure student proficiency on the state academic standards. Students participate in AzMERIT ELA testing in grades 3-8 and when enrolled in high school level (grades 9 – 11) English language arts courses. Students with significant cognitive disabilities who are unable to participate in AzMERIT ELA even with accommodations participate in NCSC ELA testing in grades 3-8 and 11.</p>
                    <p><strong>MATH</strong> - Arizona administers statewide achievement tests in the content area of math to measure student proficiency on the state academic standards. Students participate in AzMERIT math testing in grades 3-8 and when enrolled in Algebra I, Geometry, and Algebra II or their equivalents. Students with significant cognitive disabilities who are unable to participate in AzMERIT math even with accommodations participate in NCSC math testing in grades 3-8 and 11.</p>
                    <h4>AzMERIT Scores</h4>
                    <table class="table table-striped">
                        <tr>
                            <th>Levels</th>
                            <th>Assessment</th>
                        </tr>
                        <tr>
                            <td>Minimally Proficient</td>
                            <td>Minimal understanding, highly likely to need support to be ready</td>
                        </tr>
                        <tr>
                            <td>Partially Proficient</td>
                            <td>Partial understanding, likely to need support to by ready</td>
                        </tr>
                        <tr>
                            <td>Proficient</td>
                            <td>Strong understanding, likely to be ready</td>
                        </tr>
                        <tr>
                            <td>Highly Proficient</td>
                            <td>Advanced understanding, highly likely to be ready</td>
                        </tr>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="datainfo2">
                    <h3>AIMS Science</h3>
                    <p>AIMS Science is a Standards Based Assessment that measures student proficiency of the Arizona Academic Content Standard in Science. It meets federal requirements for student assessment. Arizona administers statewide achievement tests in the content area of science to measure student proficiency on the state academic standards. Students participate in AIMS science testing in grades 4, 8, and high school. Students with significant cognitive disabilities who are unable to participate in AIMS science even with accommodations participate in AIMS A science testing in grades 4, 8, and 10.</p>
                    <table class="table table-striped">
                        <tr>
                            <th>Levels</th>
                            <th>Assessment</th>
                        </tr>
                        <tr>
                            <td>Falls Far Below the Standard</td>
                            <td>Students who score in this level may have significant gaps and limited knowledge and skills that are necessary to satisfactorily meet the state’s science standard. Students will usually require a considerable amount of additional instruction and remediation in order to achieve a satisfactory level of understanding.</td>
                        </tr>
                        <tr>
                            <td>Approaches the Standard</td>
                            <td> Students who score in this level show partial understanding of the knowledge and application of the skills that are fundamental for proficient work. Students who perform at this level generally show some understanding of the science standard’s concepts and procedures by being able to demonstrate safe behavior and appropriate procedures in science inquiry, measure using appropriate tools, describe the interaction of components in a system, classify animals by their traits, investigate the characteristics of magnets, and interpret the symbols on weather maps. Some gaps in knowledge and skills are evident and may require additional instruction and remediation in order to achieve a satisfactory level of understanding.</td>
                        </tr>
                        <tr>
                            <td>Meets the Standard</td>
                            <td> Students who score in this level demonstrate a solid academic performance on subject matter as reflected by the science standard. Students who perform at this level are generally able to analyze data to determine trends, formulate predictions based on cause and effect relationships, describe benefits and risks related to the use of technology, compare structures and their functions in plants and animals, and measure changes in weather.</td>
                        </tr>
                        <tr>
                            <td>Exceeds the Standard</td>
                            <td>Students who score in this level illustrate a superior academic performance as evidenced by achievement that is substantially beyond the goal for all students. Students who perform at this level demonstrate a comprehensive range of knowledge, skills, and abilities in fulfillment of the science standard. They are able to plan simple investigations that control variables, formulate conclusions based upon data, explain the role of experiments in scientific inquiry, evaluate the consequences of environmental occurrences, and construct electric circuits.</td>
                        </tr>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="datainfo3">
                    <h3>Title I</h3>
                    <p>The Title I program provides financial assistance through state educational agencies to local educational agencies and public schools with high numbers or percentages of poor children to help ensure that all children meet challenging state academic content and student academic achievement standards.</p>
                    <p>If a school receives Title I funds it becomes a Title I school.</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="datainfo4">
                    <h3>Chronic Absence</h3>
                    <p>Students who are chronically absent have missed 18 days or more of school in a single year. Though commonly caused by tremendous adversity, such as poverty, health challenges, community violence, or difficult family circumstances, students who miss 10% of the school year (about two days each month) are more likely to fall behind or drop out.</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="datainfo5">
                    <h3>Acronyms</h3>
                    <table class="table table-striped">
                        <tr>
                            <td class="tbold">ADE</td>
                            <td>Arizona Department of Education</td>
                        </tr>
                        <tr>
                            <td class="tbold">AzMERIT</td>
                            <td>Arizona Measurement of Education Readiness to Inform Teaching</td>
                        </tr>
                        <tr>
                            <td class="tbold">ELL</td>
                            <td>English Language Learners</td>
                        </tr>
                        <tr>
                            <td class="tbold">FRL</td>
                            <td>Free and Reduced Lunch</td>
                        </tr>
                        <tr>
                            <td class="tbold">FY</td>
                            <td>Fiscal Year</td>
                        </tr>
                        <tr>
                            <td class="tbold">LEA</td>
                            <td>Local Education Agency</td>
                        </tr>
                        <tr>
                            <td class="tbold">SPED</td>
                            <td>Special Education</td>
                        </tr>
                        <tr>
                            <td class="tbold">UE</td>
                            <td>Ungraded Elementary</td>
                        </tr>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="links">
                    <h3>Helpful Links</h3>
                    <p>This links are resources and references for more information on Arizona schools and testing.</p>
                    <ul>
                        <li><a href="http://www.azed.gov/standards-practices/">Arizona Academic Standards</a></li>
                        <li><a href="http://www.azed.gov/">Arizona Department of Education</a></li>
                        <li><a href="https://www.azreportcards.org/">Arizona Report Cards</a></li>
                        <li><a href="http://www.azed.gov/research-evaluation/data/">ADE Research & Evaluation</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <p class="button-group"><a class="btn btn-default" data-dismiss="modal">Close</a></p>
        </div>
    </div>
</div>
