<footer class="blog-footer">
    <div class="container">
        <div class="footer-body">
            <div class="row ">
                <div class="col-md-3">
                    <h4>Contact</h4>
                    <p><a href="https://www.azmag.gov/" target="_blank">Maricopa Association of Governments</a>
                        <br> 302 North 1st Avenue, Suite 200
                        <br> Phoenix, Arizona 85003
                        <br><em class="glyphicon glyphicon-earphone contact"></em> (602) 254-6300
                        <br><em class="glyphicon glyphicon-envelope contact"></em><a href="https://www.azmag.gov/Contact/4788?" onClick="openNewWindow(this); return false"> Jason Howard, GIS Manager</a>
                    </p>
                </div>
                <div class="col-md-7 info-items info-logo">
                    <span ><img src="app/images/MAG-logo.png" alt="MAG Logo" class="magLogo"></span>
                    <span ><img src="app/images/ReadOn_logo.png" alt="ReadOn Logo" class="readonLogo"></span>
                    <span><img src="app/images/logo_azed_square.png" alt="ADE Logo" class="adeLogo"></span>
                </div>
                <div class="col-md-2 info-items">
                    <h4>Follow Us</h4>
                    <p class="social-media">
                        <a class="facebook track" href="https://www.facebook.com/MAGRegional/" target="_blank"><em class="fab fa-facebook-f"></em></a><a class="twitter track" href="https://twitter.com/magregion" target="_blank"><em class="fab fa-twitter"></em></a>
                        <a class="youtube track" href="https://www.youtube.com/user/MAGCommunications" target="_blank"><em class="fab fa-youtube"></em></a>
                    </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 footer-links">
                    <ul>
                        <li><a class="modal-anchor track" data-toggle="modal" data-target="#aboutModal">About</a></li>
                        <li><a class="modal-anchor track" data-toggle="modal" data-target="#linksModal">Links</a></li>
                    </ul>
                </div>
            </div>
            <div class="row copyrightTerms">
                <div class="tagline col-md-12">
                    <p>Copyright&nbsp;&copy;&nbsp;<span class="copyright"></span>&nbsp;by&nbsp;<a href="https://www.azmag.gov/" target="_blank">Maricopa Association of Governments</a>&nbsp;|&nbsp;<span class="version"></span>&nbsp;|&nbsp;<a class="modal-anchor track" data-toggle="modal" data-target="#privacyModal">Privacy</a>&nbsp;|&nbsp;<a class="modal-anchor track" data-toggle="modal" data-target="#termsModal">Terms</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--about modal-->
<div class="modal fade" id="aboutModal" role="dialog"></div>
<!--links modal-->
<div class="modal fade" id="linksModal" role="dialog"></div>
<!--privacy modal-->
<div class="modal fade" id="privacyModal" role="dialog"></div>
<!--terms modal-->
<div class="modal fade" id="termsModal" role="dialog"></div>
