<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mainHead">Arizona<span>&nbsp;Schools</span></h1>
                <h4 class="subHead">Data Visualization</h4>
            </div>
        </div>
        <div class="row selectInput">
            <div class="col-sm-5 cBox">
                <input id="ddlSchools" type="search" style="width: 100%;" />
            </div>
            <div class="col-sm-3 cBox">
                <input id="districtDDL" type="search" style="width: 100%;" />
            </div>
            <div class="col-sm-2 cBox">
                <input id="cityDDL" type="search" style="width: 100%;" />
            </div>
            <div class="col-sm-2 cBox">
                <input id="zipDDL" type="search" style="width: 100%;" />
            </div>
        </div>
    </div>
    </div>
</nav>
